{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth2 Server Client</title>
</head>
<body>
    <h1>Welcome to OAuth Server Client</h1>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    {% else %}
    <a href="{% provider_login_url 'github' %}">GitHub Sign Up</a>
    <a href="{% provider_login_url 'customoauthprovider' %}"> Custom Sign Up</a>
    {% endif %}
</body>
</html>